/* body {
  font-family: Arial;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} */

.styler{
text-decoration: none;
color: red;
transition: all 0.2s ease;
}
.styler:hover{
  cursor: pointer;
  color: hotpink;
  transform: scale(2.2);
}

.box{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: pink;
}
#myid{
  color:blue;
  background-color: red;
}